body {
  font-family: Arial, sans-serif;
  background-color: #fff0f5;
  padding: 30px;
  height: 100vh;
}

.container {
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 16px;

  position: relative;
  top: 120px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

/* estilo del forms*/
.container-form {
  max-width: 800px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title-form {
  color: #d9488e;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffc0cb;
  border-radius: 8px;
  background-color: #fff8e4;
}

#button {
  grid-column: span 2;
  padding: 12px;
  background-color: #ffc0cb;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#button:hover {
  background-color: #ff99aa;
}

.color {
  background-color: #ffc0cb !important;
}

.font {
  color: #f8f8ff !important;
}
a:hover {
  background-color: #ff99aa !important;
}
